django>=1.2.3
#pycrypto
http://www.satchmoproject.com/snapshots/trml2pdf-1.2.tar.gz
-e git+git://github.com/grengojbo/django-registration.git#egg=django-registration
#PyYAML
#reportlab
sorl-thumbnail==3.2.5
-e hg+http://bitbucket.org/bkroeze/django-threaded-multihost/#egg=django-threaded-multihost
-e hg+http://bitbucket.org/bkroeze/django-caching-app-plugins/#egg=django-caching-app-plugins
-e hg+http://bitbucket.org/bkroeze/django-signals-ahoy/#egg=django-signals-ahoy
-e hg+http://bitbucket.org/bkroeze/django-keyedcache/#egg=django-keyedcache
-e hg+http://bitbucket.org/bkroeze/django-livesettings/#egg=django-livesettings
-e hg+http://bitbucket.org/andrewgodwin/south/#egg=south
-e git+git://github.com/codekoala/django-uni-form.git#egg=django-uni-form
-e git+git://github.com/grengojbo/django-grappelli.git#egg=django-grappelli
-e git+git://github.com/django-extensions/django-extensions.git#egg=django_extensions
pytils
django-memcache-status==1.0.1
django-debug-toolbar
-e git+git://github.com/grengojbo/satchmo.git#egg=satchmo
